.isDesktop{
    width: 350px;
    padding-top: 30px;

    & p {
        padding-bottom: 15px;
    }
}
.isLaptop {
    margin-top: 30px;
    width: 100%;
    font-size: 14px;
   
 
    & p {
        padding-bottom: 10px;
    }
}